/*all*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}
/*header*/
.main_wrapper{
	background-image: url(../img/scott-webb-22697.jpg);
	background-size: cover;
}
#info{
	max-width: 1400px;
	height: 50px;
	color: white;
}
#info .container,#navigation .container{
	display: flex;
	justify-content: space-between;
}
.contacts,.social,.nav_menu{
	display: flex;
	list-style: none;
}
.contacts,.social{
	margin-top:15px;
}
.contacts li,.social li{
	margin:0 5px;
	cursor: pointer;
}
/*navigation*/
#navigation{
	height: 75px;
	max-width: 1400px;
	background-color: white;
}
.logo{
	font-size: 24pt;
	font-weight: bold;
	width: 300px;
}
.logo span{color: #fe5621;}
.logo p{
	font-size: 12pt;
	font-weight: lighter;
	color: #c6c6c6;
}
.nav_menu a{text-decoration: none;color: black;}
.nav_menu{margin-top: 25px;}
.nav_menu_item{margin:0 5px;}

/*intro*/

#intro{
	height: 665px;
	max-width: 1400px;
}
.intro_main{
	height: 300px;
	max-width: 550px;
	margin:220px auto 0;
	color: white;
}
.p_head{
	font-size: 48pt;
	text-align: center;
}
.p_text{
	font-size: 18pt;
	text-align: center;
}
.button{
	width: 220px;
	height: 50px;
	border-radius: 20px;
	border: none;
	background-color: #fe5621;
	color: white;
	text-align: center;
	font-size: 15pt;
	margin:30px 30%;
}
/*services*/
#services{
	height: 720px;
	max-width: 1400px;
}
.main_text{
	font-size: 38pt;
	margin: 40px auto;
	text-align: center;
}
.open{font-size: 24pt;margin:200px auto 0;}
.price{font-size: 18pt;display: none;}
.description{font-size: 14pt;display: none;margin: 20px auto;}

.services_menu_item:hover .open{margin: 50px auto 20px;}
.services_menu_item:hover .price{
	display: block;
}
.services_menu_item:hover .description{
	display: block;
}
.services_menu_item:hover .details{display: block;}
.services_menu{
	display: flex;
}
.services_menu_item{
	height: 480px;
	width: 25%;
	color: white;
	text-align: center;
}
.services_menu_item:hover{
	width: 27%;
	height: 510px;
	transition: 0.5s;
	margin-top: -15px;
}
.services_menu_item:nth-child(1){
	background-image: url(../img/1.png);
	background-size: cover;
}
.services_menu_item:nth-child(2){
	background-image: url(../img/2.png);
	background-size: cover;
}
.services_menu_item:nth-child(3){
	background-image: url(../img/3.png);
	background-size: cover;
}
.services_menu_item:nth-child(4){
	background-image: url(../img/4.png);	
}
.details{
	width: 180px;
	height: 50px;
	border: none;
	background-color: white;
	color:  #fe5621;
	border-radius: 20px;
	display: none;
	margin: auto;
}

/*about_us*/

#about_us{
	max-width: 1400px;
	height: 1020px;
	background-image: url(../img/aboutUs.png);
	background-size: cover;
}
.about_us_intro_head,.coaches_intro,.feedback_head{
	width: 400px;
	display: flex;
	font-size: 38pt;
	color: white;
	margin: 0 auto;
	padding-top: 70px;
}
.about_us_intro_text{
	color: white;
	font-size: 15pt;
	max-width: 550px;
	margin: 0 auto;
	text-align: center;
	font-weight: 100;
}
.line{
	width: 100px;
	height: 1px;
	background-color: black;
	border: 1px solid black;
	margin: 37px 10px 0px;
}
.about_us_menu{
	display: flex;
	margin-top: 50px;
}
.about_us_menu_item{
	text-align: center;
	color: white;
}
.about_us_menu i{
	height: 50px;
	width: 50px;
}
.icon_wrapper{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid gray;
	margin: 0 auto;
	padding: 12px 6px 0px 0px;
	margin-bottom: 25px;
	color: white;
}
/*coaches*/
#coaches{
	height: 560px;
}
.coaches_intro{
	margin-top: 50px;
	color: black;
}
.coaches_menu{
	display: flex;
	text-align: center;
	margin-top: 50px;
}
.coach_name{font-size: 24pt;}
.position{font-size: 15pt;margin-bottom:15px;}
.coach_intro{font-size:14pt;font-weight: lighter; }

/*join*/

#join{
	background-image: url(../img/subscribe.png);
	background-size: cover;
	height: 430px;
	padding-top: 150px;
}
#join p{
	font-size: 38pt;
	color: white;
	text-align: center;
}
#join button{
	text-align: center;
	margin: 30px 37%;
}

/*feedback*/

#feedback{
	height: 590px;
}
.feedback_head{color: black;}
.feedbacks{
	display: flex;
	margin-top: 50px;
}
.feedbacks_item{
	text-align: center;
	margin: 0 30px;
}