/*all*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}
/*header*/
.main_wrapper{
	background-image: url(../img/scott-webb-22697.jpg);
	background-size: cover;
}
#info{
	max-width: 1400px;
	height: 50px;
	color: white;
}
#info .container,#navigation .container{
	display: flex;
	justify-content: space-between;
}
.contacts,.social,.nav_menu{
	display: flex;
	list-style: none;
}
.contacts,.social{
	margin-top:15px;
}
.contacts li,.social li{
	margin:0 5px;
	cursor: pointer;
}
.contacts i{
	margin:0 5px;
}
.contacts li img{
	height: 12px;
	width: 12px;
	background-color: white;
}
.social li:hover{
	color: #fe5621;
}
.contacts li:hover{
	color: #fe5621;
}
.contacts li:hover i{
	color: white;
}
/*navigation*/
#navigation{
	max-width: 1400px;
	background-color: white;
}
.logo:hover{
	cursor: pointer;
}
.logo{
	font-size: 24pt;
	font-weight: bold;
	width: 300px;
}
.logo span{color: #fe5621;}
.logo p{
	font-size: 12pt;
	font-weight: lighter;
	color: #c6c6c6;
}
.nav_menu a{text-decoration: none;color: black;}
.nav_menu{margin-top: 25px;}
.nav_menu_item{margin:0 15px;padding-bottom: 26px;}
.nav_menu_item:hover{
	border-bottom: 3px solid #fe5621;
}
/*intro*/

#intro{
	height: 665px;
	max-width: 1400px;
}
.intro_main{
	height: 300px;
	max-width: 550px;
	margin:220px auto 0;
	color: white;
	text-align: center;
}
.p_head{
	font-size: 48pt;
	text-align: center;
}
.p_text{
	font-size: 18pt;
	text-align: center;
}
.button{
	width: 220px;
	height: 50px;
	border-radius: 20px;
	border: none;
	background-color: #fe5621;
	color: white;
	text-align: center;
	font-size: 15pt;
	margin:30px auto;
}
/*services*/
#services{
	max-width: 1400px;
}
.main_text{
	font-size: 38pt;
	margin: 40px auto;
	text-align: center;
}
.open{font-size: 24pt;margin:200px auto 0;}
.price{font-size: 18pt;display: none;}
.description{font-size: 14pt;display: none;margin: 20px auto;}

.services_menu_item:hover .open{
	margin: 50px auto 20px;
	transition: 0.8s;
}
.services_menu_item:hover .price{
	display: block;
	transition: 0.8s;
}
.services_menu_item:hover .description{
	display: block;
	transition: 0.8s;
}
.services_menu_item:hover .details{
	display: block;
	transition: 0.8s;
}
.services_menu{
	display: flex;
	margin-bottom: 100px;
}
.services_menu_item{
	height: 480px;
	width: 25%;
	color: white;
	text-align: center;
}
.services_menu_item:hover{
	width: 28%;
	height: 520px;
	transition: 0.7s;
	margin-top: -17px;
	padding: 0 10px;
}
.services_menu_item:nth-child(1){
	background-image: url(../img/1.png);
	background-size: cover;
}
.services_menu_item:nth-child(2){
	background-image: url(../img/2.png);
	background-size: cover;
}
.services_menu_item:nth-child(3){
	background-image: url(../img/3.png);
	background-size: cover;
}
.services_menu_item:nth-child(4){
	background-image: url(../img/4.png);	
	background-size: cover;
}
.details{
	width: 180px;
	height: 50px;
	border: none;
	background-color: white;
	color:  #fe5621;
	border-radius: 20px;
	display: none;
	margin: auto;
	font-size: 13pt;
}

/*about_us*/

#about_us{
	max-width: 1400px;
	background-image: url(../img/aboutUs.png);
	background-size: cover;
	padding-bottom: 30px;
}
.about_us_intro_head,.coaches_intro,.feedback_head{
	width: 320px;
	display: flex;
	font-size: 38pt;
	color: white;
	margin: 0 auto;
	padding-top: 70px;
	text-align: center;
}
.about_us_intro_text{
	color: white;
	font-size: 15pt;
	max-width: 550px;
	margin: 0 auto;
	text-align: center;
	font-weight: 100;
}
.line{
	width: 70px;
	height: 1px;
	background-color: black;
	border: 1px solid black;
	margin: 37px 10px 0px;
}
.about_us_menu{
	display: flex;
	margin-top: 50px;
}
.about_us_menu_item{
	text-align: center;
	color: white;
}
.about_us_menu i{
	height: 50px;
	width: 50px;
}
.icon_wrapper{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid gray;
	margin: 0 auto;
	padding: 12px 6px 0px 0px;
	margin-bottom: 25px;
	color: white;
}
.video{
	height: 480px;
	max-width: 860px;
	margin:80px auto;
}
video{
	height: 480px;
	max-width: 860px;
}
.play{
	text-align: center;
}
/*coaches*/
.coaches_intro{
	margin-top: 50px;
	color: black;
}
.coaches_menu{
	display: flex;
	text-align: center;
	margin:50px auto;
}
.coach_name{font-size: 24pt;}
.position{font-size: 15pt;margin-bottom:15px;}
.coach_intro{font-size:14pt;font-weight: lighter; }

/*join*/

#join{
	background-image: url(../img/subscribe.png);
	background-size: cover;
	padding-top: 150px;
}
#join .container{
	text-align: center;
}
#join p{
	font-size: 38pt;
	color: white;
	text-align: center;
}
#join button{
	text-align: center;
	margin: 30px auto;
}

/*feedback*/

.feedback_head{color: black;}
.feedbacks{
	display: flex;
	margin-top: 50px;
}
.msg{
	font-size: 14pt;
	font-weight: 100;
	color: gray;
	margin-bottom: 25px;
}
.feedbacks_item{
	text-align: center;
	margin: 0 30px;
}
.feedbacks_item img{
	margin: 25px 0;
}
.author{font-size: 15pt;}

/*arrow*/

.arrows{
	display: flex;
	margin: 50px auto;
	width: 150px;
	justify-content: space-around;
}
.arrow_left,.arrow_right{
	height: 55px;
	width: 55px;
	border-radius: 50%;
	border: 2px solid #fe5621;
}
.arrow_left div{
	height: 15px;
	width: 15px;
	border-bottom: 3px solid #fe5621;
	border-left: 3px solid #fe5621;
	transform: rotate(45deg);
	margin: 17px 0px 0 20px;
}
.arrow_right div{
	height: 15px;
	width: 15px;
	border-bottom: 3px solid #fe5621;
	border-left: 3px solid #fe5621;
	transform: rotate(225deg);
	margin: 17px 0px 0 17px;
}

/*subscribe*/

#subscribe{
	background-image: url(../img/subscribe1.png);
	background-size: cover;
	padding:150px 0;
}
.subscribe_head{
	font-size: 38pt;
	color: white;
	margin: 0 auto;
	max-width: 610px;
	text-align: center;
}
.subscribe_text{
	font-size: 15pt;
	color: white;
	font-weight: lighter;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.form form{
	margin:25px auto;
	max-width: 530px;
	text-align: center;
}
.mail_field{
	width: 220px;
	height: 50px;
	border: 1px solid gray;
	background-color: inherit;
	border-radius: 30px;
	padding: 20px;
	margin:5px;
}
.mail_button{
	width: 220px;
	height: 50px;
	border-radius: 20px;
	border: none;
	background-color: #fe5621;
	color: white;
	text-align: center;
	margin:5px;
}

/*location*/

#location{
	margin-top: -20px;
}

/*footer*/

#footer .container{
	display: flex;
	margin-top: 50px;
	justify-content:space-between;
}
#footer ul{
	list-style: none;
}
.footer_info{
	max-width: 380px;
}
.footer_text{
	margin: 25px 0;
}
.footer_icons{
	display: flex;
}
.footer_icons li{
	height: 35px;
	width: 35px;
	border: 2px solid #fe5621;
	border-radius: 50%;
	color: #fe5621;
	padding: 5px 0 0 11px;
	margin:7px;
	font-size: 17px;
	font-weight: bolder;
}
.footer_icons li:nth-child(2){
	padding: 4px 0 0 6px;
}
.footer_icons li:nth-child(3){
	padding: 4px 0 0 10px;
}
.footer_icons li:nth-child(4){
	padding: 4px 0 0 9px;
}
.footer_icons li:hover{
	background-color: #fe5621;
	color: white;
	cursor: pointer;
}
.footer_head{
	font-size: 18pt;
	margin-bottom: 25px;
}
.pages_menu_item,.footer_contacts li,.footer_text{
	padding-bottom: 15px;
	color: gray;
}
.footer_contacts i{
	margin: 5px;
}
.footer_text{
	margin-top: 15px;
}
.copyright{
	margin: 50px auto 10px;
	width: 250px;
	color: gray;
	text-align: center;
	padding-bottom: 15px;
}





/*MEDIA*/



/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { ... }

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) { 
	video{
		max-width:600px ;
	}
	.social{
		display: none;
	}
	.nav_menu{
		flex-direction: column;
		text-align: center;
	}
	#navigation .container{
		flex-direction: column;
	}
	#navigation .logo{
		margin: 0 auto;
		text-align: center;
	}
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	.contacts{
		display: none;
	}
	video{
		width: 450px;
		padding-bottom: 150px;
	}
	.coaches_menu{
		flex-direction: column;	
	}
	#footer .container{
		flex-direction: column;
		text-align: center;
	}
	.footer_info{
		margin: 0 auto;
	}
	.footer_icons{
		width: 200px;
		margin: 0 auto;
	}
	#footer .logo{
		margin: 0 auto;
	}
	.feedbacks{
		flex-direction: column;
	}
	.services_menu{
		flex-direction: column;
	}
	.services_menu_item{
		width: 100%;
		height: 200px;
		background-size: auto;
	}
	.services_menu_item:hover{
		width: 100%;
		height: 400px;
	}
	.open{
		margin: 100px auto 0;
	}
	.about_us_menu{
		flex-direction: column;
	}
	.about_us_menu_item{
		margin-bottom: 20px;
	}
}
@media (max-width: 400px){
	video{
		width: 300px;
		padding-bottom: 300px;
	}
}
